* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    Background-image:url(https://img.freepik.com/fotos-premium/fondo-olas-japonesas-arte-japones-oceano-azul-ilustracion_1009812-191.jpg?w=996);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -5px 80px 0px 80px;
}

.general {
    background-color: #7890a8dc;
}

.sec-arr {
    background-color: #181848;
    color: rgb(228, 228, 228);
    text-align: center;
    text-decoration: none;
    padding: 10px 0px;
}

.bar {
    background-color: #304878;
    padding: 5px;
    text-align: center;
}

.log {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.container {
    padding: 10px 20px;
    text-align: center;
}

.game {
    background-color: rgba(60, 102, 151, 0.822);
    padding: 5px;
    margin: 0px 260px;
    text-align: center;
    border-style: solid;
    border-radius: 6px;
    border-color: rgba(255, 255, 255, 0);
}

.btn {
    color: rgb(218, 218, 218);
    background-color: #304878;
    padding: 5px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgba(255, 255, 255, 0);
}

.form-login {
    text-align: center;
    background-color: #304878d0;
    margin-top: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
}

.input-box {
    display: grid;
    grid-template-columns: repeat(2,fr);
    padding: 5px 380px;
}

.form-menu {
    background-color: #304878d2;
    color: rgb(235, 235, 235);
    margin: 10px;
    padding: 15px 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
}

.form-game {
    background-color: #304878d2;
    color: rgb(235, 235, 235);
    margin: 10px;
    padding: 15px 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
    text-align: center;
}
